.ancient-shoe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(240, 255, 245);
}

.image-side {
    flex: 1;
    text-align: center;
}

.sandalImage {
    max-width: 100%;
    height: auto;
}

.text-side {
    flex: 1;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    padding: 100px;
}