.approach-container {
  margin: 0 auto;
  padding: 100px;
  text-align: center;
  max-width: 1200px;
}

.approachDesigns {
  font-size: 35px;
  margin-bottom: 16px;
  font-weight: 700;
}

.approachDesignsText {
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto 40px;
}

.approachDesignsSpan {
  font-weight: 600;
}

.image-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  flex-wrap: nowrap;
}

.image-row img {
  width: 190px;
  height: 290px;
  object-fit: cover;
  margin-top: 40px;
}

@media (min-width: 1025px),
(max-width: 767px) {

  .image-row img:nth-child(2),
  .image-row img:nth-child(4),
  .image-row img:nth-child(6) {
    margin-top: 100px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .image-row {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 30px auto 0;
  }

  .image-row img {
    width: 30%;
    height: 300px;
  }

  .image-row img:nth-child(2),
  .image-row img:nth-child(5) {
    margin-top: 100px;
  }

  .approach-container {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .approach-container {
    padding: 30px 20px;
  }

  .approachDesigns {
    font-size: 24px;
  }

  .approachDesignsText {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .image-row {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
    gap: 10px;
  }

  .image-row img {
    width: 48%;
    height: 200px;
  }

  .approach-container {
    margin-top: 50px;
  }
}