.category-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 1230px;
  gap: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.category-item {
  flex: 1 1 0; 
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.category-image {
  width: 100%;
  aspect-ratio: 3 / 4; 
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.category-item:hover .category-image {
  transform: scale(1.05);
}

.category-title {
  font-weight: bold;
  display: block;
}

.category-subtitle {
  display: block;
}

.category-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  user-select: none;
}

.category-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 80px;
}

@media (min-width: 1025px) {
  .category-title {
    font-size: 40px;
  }
  .category-subtitle {
    font-size: 20px;
  }
}

/* Planset */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-container {
    flex-direction: column;
    gap: 30px;
    max-width: 100%; /* overflow-un qarşısını al */
    padding: 0 5vw;
  }
  .category-item:hover .category-image {
    transform: scale(1.03);
  }
  .category-title {
    font-size: 32px;
  }
  .category-subtitle {
    font-size: 18px;
  }
  .category-heading {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .category-container {
    flex-direction: column;
    gap: 20px;
    width: 100%; /* 100vw əvəzinə */
    padding: 0 10px;
  }
  .category-item:hover .category-image {
    transform: scale(1.02);
  }
  .category-title {
    font-size: 24px;
  }
  .category-subtitle {
    font-size: 14px;
  }
  .category-heading {
    font-size: 30px;
  }
}

body {
  overflow-x: hidden;
}
