.slider-container {
  margin: 0 auto;
  width: 100%;
  /* Tam ekran eni */
  background-color: white;
  /* Qırmızı fon containera */
  padding: 17px 0;
  /* yuxarı aşağı padding */
  overflow-x: hidden;
  /* kənara çıxmasın */
  display: flex;
  justify-content: center;
  /* İçindəkini mərkəzlə */
}

.logo-slider {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;

  max-width: 1220px;
  /* Sabit maksimum genişlik */
  width: 100%;
  /* kiçik ekranlarda da sıxışsın */
  padding: 0 18px;
  /* içində sağ-sola az padding */
  box-sizing: border-box;
  /* padding daxil et ölçüyə */
  background-color: transparent;
  /* fon yox, çünki container-da var */
}

.logo-slider::-webkit-scrollbar {
  display: none;
}

.logo-item {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-slider:active {
  cursor: grabbing;
}

.logo-item img {
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-item img:hover {
  transform: scale(1.1);
}